.calendar {
   display: grid;
   gap: 10px;
   grid-template-columns: auto 1fr;
   margin: 2rem;

   &__timeline {
      display: grid;
      grid-template-rows: repeat(var(--numHours), var(--timeHeight));
   }

   &__days {
      display: grid;
      grid-column: 2;
      gap: 5px;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
   }

   &__time-marker {
      height: var(--timeHeight);
   }
}
