:root {
   --numDays: 5;
   --numHours: 10;
   --timeHeight: 60px;
   --calBgColor: #fff1f8;
   --eventBorderColor: #f2d3d8;
   --eventColor1: #ffd6d1;
   --eventColor2: #fafaa3;
   --eventColor3: #e2f8ff;
   --eventColor4: #d1ffe6;
}

body {
   font-family: system-ui, sans-serif;
}
