@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
   --numDays: 7;
   --numHours: 16;
   --timeHeight: 6vh;
   --calBgColor: #fff1f8;
   --eventBorderColor: #f2d3d8;
   --pink: #ffd6d1;
   --yellow: #fafaa3;
   --blue: #e2f8ff;
   --green: #d1ffe6;
}

$numHours: 16;

@function get-event-color($type) {
   @if $type == 'pink' {
      @return var(--pink);
   } @else if $type == 'yellow' {
      @return var(--yellow);
   } @else if $type == 'blue' {
      @return var(--blue);
   } @else if $type == 'green' {
      @return var(--green);
   } @else {
      @return white;
   }
}

// Mixin for grid with repeated rows
@mixin grid-rows($numRows, $height) {
   display: grid;
   grid-template-rows: repeat($numRows, $height);
}

// Mixin for event block styling
@mixin event-block($start, $end, $type) {
   grid-row-start: $start;
   grid-row-end: $end;
   background: get-event-color($type);
}

p {
   margin: 0;
}

.modal {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   background: rgba(0, 0, 0, 0.5);
   backdrop-filter: blur(5px);
   opacity: 0;
   visibility: hidden;
   transition:
      opacity 0.3s ease,
      visibility 0.3s ease;
   z-index: 1000;

   &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: transparent;
   }

   &__time {
      display: flex;
      justify-content: space-between;
   }

   &__content {
      position: relative;
      background: white;
      padding: 1.15rem;
      border-radius: 8px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      transform: translateY(100px);
      transition: transform 0.3s ease;
      width: 400px; // Увеличиваем ширину
      max-width: 90%; // Ограничиваем максимальную ширину
   }

   &__title {
      font-size: 1.5rem;
      margin-bottom: 1rem;
   }

   &__body {
      display: flex;
      flex-direction: column;
      gap: 1rem;
   }

   &__input,
   &__textarea,
   &__select {
      //width: 100%;
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 4px;
   }

   &__textarea {
      resize: vertical;
      min-height: 5rem;
      max-height: 15rem;
   }

   &__footer {
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
      margin-top: 1rem;

      &--label {
         font-size: 0.85rem;
      }

      &--time {
         display: flex;
         flex-direction: row;
         gap: 0.5rem;
      }
   }

   &__button {
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 4px;
      cursor: pointer;

      &--save {
         background: #4caf50;
         color: white;
      }

      &--close {
         background: #f44336;
         color: white;
      }
   }

   &--open {
      opacity: 1;
      visibility: visible;

      & .modal__content {
         transform: translateY(0);
      }
   }
}

.calendar {
   display: flex;
   flex-direction: column;
   gap: 20px;
   margin: 2rem;
   margin-top: rem;
   overflow: hidden;

   &__weekdays--full {
      display: grid;
      grid-template-columns: repeat(var(--numDays), 1fr);
      gap: 15px;
      text-align: start;
      grid-column: 2;
      grid-row: 1;
   }

   &__weekdays {
      display: grid;
      grid-template-columns: repeat(var(--numDays), minmax(150px, 1fr));
      gap: 15px;
      text-align: start;
      grid-column: 2;
   }

   &__weekday {
      font-weight: 300;
      font-size: 2rem;
      width: 100%;

      min-width: 150px;
   }

   &__wrapper {
      display: flex;
      flex-direction: column;
      overflow-x: auto;
   }

   &__weeks {
      display: flex;
      flex-direction: column;
      gap: 15px;
      grid-column: 2;
      grid-auto-flow: row dense;
   }

   &__week-content {
      display: grid;
      grid-template-columns: 0px 1fr;

      &--compact {
         grid-template-columns: 0.05fr 1fr;
         grid-template-rows: 1fr;
      }
   }
   &__timeline {
      @include grid-rows(var(--numHours), var(--timeHeight));
      margin-right: 1.5rem;
      grid-row: 1;
      text-align: right;
   }

   &__days {
      display: grid;
      grid-column: 2;
      grid-row: 2;
      gap: 15px;
      grid-template-columns: repeat(var(--numDays), minmax(150px, 1fr));
   }

   &__days--compact {
      display: grid;
      grid-column: 2;
      grid-row: 2;
      gap: 15px;
      grid-template-columns: repeat(var(--numDays), minmax(150px, 1fr));
   }

   &__events {
      &--full {
         @include grid-rows(var(--numHours), var(--timeHeight));
         border-radius: 5px;
         background: var(--calBgColor);
         height: 100%;
         width: 100%;
      }
      &--compact {
         display: block;
         padding: 0.2rem;
         margin: 0.1rem;
         font-size: 0.8rem;
         width: 100%;
         max-height: 100px;
         padding-top: 2.5rem;
         padding-bottom: 0.5rem;
      }
   }

   &__event {
      border: 1px solid var(--eventBorderColor);
      border-radius: 5px;
      padding: 0.5rem;
      margin: 0.1rem 0.5rem;
      background: white;
      max-width: 100%;
      overflow: hidden;
      position: relative;

      &--completed {
         opacity: 0.35;
      }

      &--description {
         padding: 0.3rem;
         padding-top: 0;
         white-space: normal;
         overflow: hidden;
         text-overflow: ellipsis;
         font-weight: 400;
         font-size: 0.9rem;
      }

      &--title {
         font-weight: 600;
         padding: 0.25rem;
         white-space: normal;
         overflow: hidden;
         text-overflow: ellipsis;
      }

      &--time {
         padding-left: 0.25rem;
         padding-bottom: 0.25rem;
      }

      &--compact {
         display: block;
         padding: 0rem;
         margin: 0.1rem;
         font-size: 0.8rem;
      }

      &-gradient {
         content: '';
         position: absolute;
         bottom: 0;
         left: 0;
         right: 0;
         height: 30px; // Высота градиента
         background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0),
            white
         ); // Градиент от прозрачного к белому
         pointer-events: none; // Чтобы градиент не блокировал клики по событиям
      }

      @for $i from 1 through $numHours {
         $hour: if($i < 10, '0' + $i, $i);
         $formattedHour: if($i + 7 < 10, '0' + ($i + 7), $i + 7);
         &--start-#{$formattedHour} {
            grid-row-start: #{$i};
         }
         &--end-#{$formattedHour} {
            grid-row-end: #{$i};
         }
      }

      &--pink {
         background: get-event-color('pink');
      }

      &--yellow {
         background: get-event-color('yellow');
      }

      &--blue {
         background: get-event-color('blue');
      }

      &--green {
         background: get-event-color('green');
      }
   }

   &__spacer,
   &__date {
      height: var(--timeHeight);
      gap: 1em;
      min-height: 60px;

      &--compact {
         position: absolute;
         top: 0.5rem;
         left: 0.5rem; // Перемещаем в правый верхний угол
         font-size: 1rem;
         font-weight: bold;
      }
   }

   &__date-num {
      font-size: 2rem;
      font-weight: 600;
      display: inline;

      &--full {
         display: none;
      }
   }

   &__date-day {
      font-size: 2rem;
      font-weight: 300;
      margin-left: 0.5rem;
      display: none;

      &--full {
         display: none;
      }
   }

   &__week {
      &--compact {
         cursor: pointer;
      }

      &--selected {
         opacity: 1;
         cursor: default;
         display: block;
         overflow-x: hidden;
      }
   }

   &__day {
      position: relative;
      display: flex;
      min-height: 100px; // Фиксированная высота ячейки дня
      aspect-ratio: 1.15 / 1;

      &--compact {
         max-height: 150px;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         padding: 0.5rem;
         border: 1px solid var(--eventBorderColor);
         border-radius: 5px;
         background: var(--calBgColor);
         max-height: 100%;
         overflow: hidden;
      }

      &--full {
         min-height: 100%;
         aspect-ratio: unset;
      }

      &-gradient {
         content: '';
         position: absolute;
         bottom: 0;
         left: 0;
         right: 0;
         height: 30px; // Высота градиента
         background: linear-gradient(
            to bottom,
            rgba(255, 241, 248, 0),
            var(--calBgColor)
         ); // Градиент от прозрачного к фону блока
         pointer-events: none; // Чтобы градиент не блокировал клики по событиям

         &--day-off {
            background: linear-gradient(to bottom, rgba(255, 241, 248, 0), pink);
         }
      }
   }

   /*
   &__day {
      
      &--mon {
      }
      &--tues {
      }
      &--wed {
      }
      &--thurs {
      }
      &--fri {
      }
      &--sat {
      }
      &--sun {
      }
		
   }
	*/
}

@media (max-width: 1300px) {
   .calendar__days--compact {
      grid-template-columns: repeat(4, 1fr); // 4 колонки на экране
   }

   .calendar__weekdays {
      display: none;
   }

   .calendar__date-day {
      display: inline;
   }
}

@media (max-width: 900px) {
   .calendar__days--compact {
      grid-template-columns: repeat(3, 1fr); // 3 колонки на экране
   }
}

@media (max-width: 700px) {
   .calendar__days--compact {
      grid-template-columns: repeat(2, 1fr); // 2 колонки на экране
   }
}

@media (max-width: 400px) {
   .calendar__days--compact {
      grid-template-columns: 1fr; // 1 колонка на экране
   }
}

body {
   font-family: 'Roboto', sans-serif;
}
